@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500;600;700&family=Mulish:wght@400;600&family=Playfair+Display:ital,wght@1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

table, th, td {
    border: 2px solid black;
}

:root {
    --cor01: #54f9ff;
    --cor02: #39f3fa;
    --cor03: #2badb2;
    --cor04: #fa833973;
    --cor05: #ad4605;

    --font-logo: 'Playfair Display', serif;
    --fonte-titulo: 'Arimo', sans-serif;
    --fonte-padrao: 'Mulish', sans-serif;
}

body {
    background-color: var(--cor04);
    font-family: var(--fonte-padrao);
}

header {
    min-height: 150px;
    padding: 30px;
    background-color: var(--cor02);
}

header > h1 {
    font-family: var(--font-logo);
    font-size: 4em;
    font-weight: 900;
    color: white;
}

nav {
    padding: 10px;
    background-color: var(--cor03);
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

nav > a {
    padding: 10px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2em;
    color: black;
    transition-duration: .5s;
}

nav > a:hover {
    color: white;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    border: 2px solid var(--cor05) ;
}

main h1+p, h2+p, h3+p {
    font-family: var(--fonte-padrao);
    font-size: 1em;
    font-weight: 400;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
}

#macro > h1, #micro > h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 2.4em;
    font-weight: 700;
    font-family: var(--fonte-titulo);
}

#proteina > h2, #carbo > h2, #gordura > h2, #vitaminas > h2, #minerais > h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 2em;
    font-weight: 600;
    font-family: var(--fonte-titulo);
}

#proteina > aside > h3, #carbo > aside > h3, #gordura > aside > h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5em;
    font-weight: 500;
    font-family: var(--fonte-titulo);
}

#vitaminas > h3, #minerais > h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5em;
    font-weight: 500;
    font-family: var(--fonte-titulo);
}

aside > ul {
    list-style-position: inside;
    padding-left: 10px;
}