@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew:wght@400;500;600;700&display=swap');

body {
    width: 1000px;
    margin: auto;
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
}

h1 {
    text-align: center;
}

.vermelho {
    color: rgb(128, 0, 0);
    font-family: Consolas, serif;
}

.red {
    color: red;
    font-family: Consolas, serif;
}

